In [1]:
# import dependencies
import pandas as pd
import gmaps
import requests
from config import g_key

In [2]:
# Read cities.csv
# The resource file is from another project of mine which can be foudnd in my GitHub
# Repository name: API-UofT-WorldWeatherAnalysis
city_data_df = pd.read_csv('Resources/cities.csv')
city_data_df.head()

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Khatanga,RU,2022-09-29 18:24:53,71.9667,102.5000,28.31,96,100,4.52
1,1,Ribeira Grande,PT,2022-09-29 18:21:46,38.5167,-28.7000,72.00,60,40,11.50
2,2,Apache Junction,US,2022-09-29 18:24:54,33.4151,-111.5496,93.16,20,0,7.00
3,3,Busselton,AU,2022-09-29 18:21:38,-33.6500,115.3333,57.78,63,0,11.74
4,4,Cockburn Town,TC,2022-09-29 18:24:55,21.4612,-71.1419,81.21,75,4,11.79

In [3]:
# Check data types
city_data_df.dtypes

City ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps for using API key
gmaps.configure(api_key=g_key)

In [5]:
# Create the Heatmap for Maximum Temperature

# Step 1: Add coordinates with pairs of Latitude and Longitude
locations = city_data_df[['Lat', 'Lng']]

# Step 2: Assign wight to coordinates
max_temp = city_data_df['Max Temp']

# Step 3: Set the figure variable to gmaps
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Step 4: Assign locations and weight to heatmap layer variable
heatmap_layer = gmaps.heatmap_layer(locations,
                                    weights=[max(i,0) for i in max_temp], 
                                    dissipating=False, 
                                    max_intensity=300, 
                                    point_radius=2.5)

# Step 5: Add heatmap layert to figure
fig.add_layer(heatmap_layer)

# Step 6: Plot the heatmap
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Create the Heatmap for Humidity

locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heatmap_layer = gmaps.heatmap_layer(locations,
                                    weights=[max(i,0) for i in humidity], 
                                    dissipating=False, 
                                    max_intensity=300, 
                                    point_radius=2.5)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Create the Heatmap for Cloudiness

locations = city_data_df[['Lat', 'Lng']]
cloud = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heatmap_layer = gmaps.heatmap_layer(locations,
                                    weights=[max(i,0) for i in cloud], 
                                    dissipating=False, 
                                    max_intensity=300, 
                                    point_radius=2.5)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Create the Heatmap for Cloudiness

locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heatmap_layer = gmaps.heatmap_layer(locations,
                                    weights=[max(i,0) for i in wind], 
                                    dissipating=False, 
                                    max_intensity=100, 
                                    point_radius=2.5)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add minimum and maximum values for temperature
min_temp = float(input('Minimum desired temperature? '))
max_temp = float(input('Mximum desired temperature? '))

Minimum desired temperature? 75
Mximum desired temperature? 90

In [10]:
# Filter DataFrame based on the desired temperatures
desired_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) &
                                     (city_data_df['Max Temp'] >= min_temp)]
desired_cities_df.head()

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Cockburn Town,TC,2022-09-29 18:24:55,21.4612,-71.1419,81.21,75,4,11.79
5,5,Lompoc,US,2022-09-29 18:24:55,34.6391,-120.4579,85.01,73,40,5.99
6,6,Brenham,US,2022-09-29 18:20:04,30.1669,-96.3977,84.15,30,0,3.44
7,7,Kutum,SD,2022-09-29 18:24:56,14.2000,24.6667,80.38,40,97,7.27
8,8,Upington,ZA,2022-09-29 18:21:52,-28.4478,21.2561,84.58,26,40,10.36

In [11]:
desired_cities_df = desired_cities_df.dropna()
desired_cities_df.count()

City ID       190
City          190
Country       190
Date          190
Lat           190
Lng           190
Max Temp      190
Humidity      190
Cloudiness    190
Wind Speed    190
dtype: int64

In [12]:
hotel_df = desired_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
4   Cockburn Town      TC     81.21  21.4612  -71.1419
5          Lompoc      US     85.01  34.6391 -120.4579
6         Brenham      US     84.15  30.1669  -96.3977
7           Kutum      SD     80.38  14.2000   24.6667
8        Upington      ZA     84.58 -28.4478   21.2561
9          Atuona      PF     75.99  -9.8000 -139.0333
13      Road Town      VG     80.64  18.4167  -64.6167
14        Worland      US     79.68  44.0169 -107.9554
15        Cabinda      AO     78.94  -5.5500   12.2000
28       Oussouye      SN     89.78  12.4850  -16.5469

In [13]:
# Set parameters for a hotel search
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through DataFrame

for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    params['location'] = f'{lat}, {lng}'
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    hotels = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        hotel_df.loc[index, 'Hotel Name'] = 'Hotel not found'
        
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Cockburn Town,TC,81.21,21.4612,-71.1419,Osprey Beach Hotel
5,Lompoc,US,85.01,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
6,Brenham,US,84.15,30.1669,-96.3977,Hampton Inn & Suites Brenham
7,Kutum,SD,80.38,14.2000,24.6667,Dibbo areaمنطقة دبو
8,Upington,ZA,84.58,-28.4478,21.2561,River Place Manor

In [18]:
# Create heatmanp for desired temperature
locations = hotel_df[['Lat','Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heatmap_layer = gmaps.heatmap_layer(locations,
                                    weights=max_temp,
                                    dissipating=False,
                                    max_intensity = 300,
                                    point_radius=4)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))